<div class="container">
    <h2>Oto wyniki</h2>
    <table class="table">
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Obrazek</th>
            <th>Opcje</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.images}}" alt="{{this.name}}" style="width: 25%;"></td>
            <td><a type="button" class="btn btn-primary" href="http://localhost:3000/selected">Wybierz</a></td>
        </tr>
        {{/each}}
    </table>
</div>