<div class="container">
    <form class="row g-2 w-50" style="margin:0 auto" action="http://localhost:3000/result" method='post'>
        <br>
        <h2>Zacznij wyszukiwać!</h2>
        <h6>Im mniejsza liczba przy priorytecie tym jest niższy</h6>
        <br>
        <label for="maxCost" class="form-label">Maksymalna cena (zł)</label>
        <input type="number"  style="width:100%" class="form-control form-control-color bg-dark text-white" id="maxCost" name="maxCost" value="100" title="zł">
        <br>
        <label for="color" class="form-label">Wybierz dominujący kolor rośliny</label>
        <input type="color" style="width:100%" class="form-control form-control-color bg-dark text-white" id="color" name="color" value="#f0f0f0" title="Wybierz dominujący kolor">
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="colorPriority" name="colorPriority">
            <option value="2">Priorytet: 1</option>
            <option value="4">Priorytet: 2</option>
            <option value="6">Priorytet: 3</option>
            <option value="8">Priorytet: 4</option>
        </select>
        <br>
        <label for="dificult" class="form-label">Trudność hodowania rośliny</label>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="dificult" name="dificult">
            <option value="1">Bardzo łatwy</option>
            <option value="2">Łatwy</option>
            <option value="3">Trudny</option>
            <option value="4">Bardzo trudny</option>
        </select>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="dificultPriority" name="dificultPriority">
            <option value="2">Priorytet: 1</option>
            <option value="4">Priorytet: 2</option>
            <option value="6">Priorytet: 3</option>
            <option value="8">Priorytet: 4</option>
        </select>
        <br>
        <label for="wateringFrequency" class="form-label">Częstość podlewania rośliny</label>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="wateringFrequency" name="wateringFrequency">
            <option value="4">Rzadziej niż raz na miesiąc</option>
            <option value="3">1-2 razy na miesiąc</option>
            <option value="2">Raz na 1-2 tygodnie</option>
            <option value="1">Ponad 2 razy w tygodniu</option>
        </select>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="wateringFrequencyPriority" name="wateringFrequencyPriority">
            <option value="2">Priorytet: 1</option>
            <option value="4">Priorytet: 2</option>
            <option value="6">Priorytet: 3</option>
            <option value="8">Priorytet: 4</option>
        </select>
        <br>
        <label for="size" class="form-label">Wielkość rośliny</label>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="size" name="size">
            <option value="1">Bardzo mała, mniej niż 10cm</option>
            <option value="2">Mała 10cm - 25cm</option>
            <option value="3">Duża 25cm - 40cm</option>
            <option value="4">Bardzo duża, ponad 40cm</option>
        </select>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="sizePriority" name="sizePriority">
            <option value="2">Priorytet: 1</option>
            <option value="4">Priorytet: 2</option>
            <option value="6">Priorytet: 3</option>
            <option value="8">Priorytet: 4</option>
        </select>
        <br>
        <label for="sunlight" class="form-label">Poziom nasłonecznienia rośliny</label>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="sunlight" name="sunlight">
            <option value="1">Minimalny lub brak</option>
            <option value="2">Mały</option>
            <option value="3">Duży</option>
            <option value="4">Bardzo duży</option>
        </select>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="sunlightPriority" name="sunlightPriority">
            <option value="2">Priorytet: 1</option>
            <option value="4">Priorytet: 2</option>
            <option value="6">Priorytet: 3</option>
            <option value="8">Priorytet: 4</option>
        </select>
        <br>
        <label for="harmfulness" class="form-label">Potencjalna szkodliwość</label>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="harmfullness" name="harmfullness">
            <option value="1">Brak</option>
            <option value="2">Bardzo mała</option>
            <option value="3">Mała</option>
            <option value="4">Duża</option>
        </select>
        <select class="form-select bg-dark text-white" aria-label="Default select example" id="harmfullnessPriority" name="harmfullnessPriority">
            <option value="2">Priorytet: 1</option>
            <option value="4">Priorytet: 2</option>
            <option value="6">Priorytet: 3</option>
            <option value="8">Priorytet: 4</option>
        </select>
        <button type="submit" class="btn btn-success w-25">Wyszukaj</button>
    </form>
    <br><br><br><br>
</div>